<% provide(:title, "Sign in") %>


<div class="home-wrap">
  <img src="/logo-sm.png" class='logo-sm'>
  <%= form_for(:session, url: sessions_path, html: { class: "form-fixed" }) do |f| %>

    <%= f.label :email, class: "label-text" %>
    <%= f.text_field :email, class: "inp-text inp-text-accent" %>

    <%= f.label :password, class: "label-text" %>
    <%= f.password_field :password, class: "inp-text inp-text-accent" %>

    <%= f.submit "Sign in", class: "btn btn-accent" %>
  <% end %>

  <p class="text-signin">New user?</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-accent" %>
</div>

<style type="text/css">
  .logo-sm {
    display: none;
  }
  .home-wrap > .logo-sm {
    display: block;
    padding-top: 4vh;
  }
</style>