<%= form_for(@user, html: { class: "form-fixed", role: "form" }) do |f| %>
	<% if @user.errors.any? %>
		<div class="alert alert-danger alert-dismissable" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

			<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

    <%= f.label :login_id, class: "" %>
      <%= f.text_field :login_id, class: "inp-text inp-text-accent" %>
		<%= f.label :first_name, class: "" %>
			<%= f.text_field :first_name, class: "inp-text inp-text-accent" %>
		<%= f.label :last_name, class: "" %>
			<%= f.text_field :last_name, class: "inp-text inp-text-accent" %>
		<%= f.label :email, class: "" %>
			<%= f.text_field :email, class: "inp-text inp-text-accent" %>
		<%= f.label :photo_url, class: "" %>
			<%= f.text_field :photo_url, class: "inp-text inp-text-accent" %>
		<%= f.label :password, class: "" %>
			<%= f.password_field :password, class: "inp-text inp-text-accent" %>
		<%= f.label :password_confirmation, class: "" %>
			<%= f.password_field :password_confirmation, class: "inp-text inp-text-accent" %>
			<%= f.submit class: "btn btn-accent" %>
<% end %>
