<div class="user-li-wrap shadows">
	<img class="shadows" src=<%= user.photo_url %>>
	<h4><%= user.first_name %> <%= user.last_name %></h4>
	<br>
	<h5>Games Created: <%= user.games_created %></h5>
	<br>
	<h5>Games Playing: <%= user.games.length - user.games_completed %></h5>
	<br>
	<h5>Games Completed: <%= user.games_completed %></h5>
	<br>
	<%= link_to 'View Profile', user_path(user), class: 'btn-clear btn-submit shadows' %>
</div>