<div class="game-li-wrap shadows">
		<ul class="photolist">
			<% game.users.each do |user| %>
				<li><a href=<%= user_path(user) %>><img class="shadows" src=<%= user.photo_url %> > </a></li>
			<% end %>
		</ul>
		<h5>Next Move: <%= game.text_last ? "Drawing" : "Text" %></h5>
		<% if !game.finished %>
			<h4>Turn <%= game.stories.length + game.draw_urls.length %></h4>

			<h4>Turns Left: <%= game.num_rounds - (game.stories.length + game.draw_urls.length) %></h4>
		<% else %>
			<h4>Finished!</h4>
		<% end %>
	<% if game.finished %>
		<%= link_to 'View', game_path(game), class: 'btn-clear btn-accent shadows' %>
	<% else %>
		<%= link_to 'Play', edit_game_path(game), class: 'btn-clear btn-accent shadows' %>
	<% end %>
</div>