<div class="game-li-wrap shadows">
	<div>
		<h5>Creator: <%= game.users[0].first_name %> <%= game.users[0].last_name %></h4>
		<h5 class="tooltip">
		Players:
		<ul class="tooltiptext">
			<% game.users.each do |user| %>
				<li><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></li>
			<% end %>
		</ul>
		</h5>
		<h5>Next Move: <%= game.text_last ? "Drawing" : "Text" %></h5>
	</div>
	<div>
		<% if !game.finished %>
			<h4>Turn <%= game.stories.length + game.draw_urls.length %></h4>
			<h4>Turns Left: <%= game.num_rounds - (game.stories.length + game.draw_urls.length) %></h4>
		<% end %>
	</div>
	<button class="btn-clear btn-submit shadows" style="text-decoration: none;">
		<% if game.finished %>
			<%= link_to 'View', game_path(game) %>
		<% else %>
			<%= link_to 'Play', edit_game_path(game) %>
		<% end %>
	</button>
</div>