<div class="index show">
	<% j = 0 %>
  <% for i in 0..@game.stories.length-1 %>

  	<a href=<%= user_path(@game.users[j]) %>><img class="shadows" src=<%= @game.users[j].photo_url %> ></a>
  	<% j+=1 %>
    <h3><%= @game.stories[i] %></h3>

    <% if i < @game.draw_urls.length %>

    	<a href=<%= user_path(@game.users[j]) %>><img class="shadows showusr" src=<%= @game.users[j].photo_url %> ></a>
    	<% j+=1 %>
    	<div class="cell">
      <img src=<%= @game.draw_urls[i] %> class='shadows'>
    	</div>

    <% end %>
  <% end %>
</div>
